body {
  margin: 2rem;
}

img {
  max-width: 100%;
  border-radius: .5rem;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.4rem;
}

.App {
  max-width: 40rem;
  margin: 0 auto;
}
.animeLeft {
  transform: translateX(-20px);
  opacity: 0.5;
  animation: animeLeft .5s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}

.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-right-color: transparent;
  animation: loading 1s linear infinite
}

@keyframes loading {
  to {
    transform: rotate(360deg)
  }
}